<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/view/css/style.css">
        <title>CAlterra serviço</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="gerenciamento.html"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="../imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Alterar serviço</h1>
            </div>
        </header>

        <main >
            <form action="/attServico" method="POST">
                <pre>
                    <div class="teste">
                    ' <label for="tipoServico">Tipo de serviço:</label> <br>
                        <input type="text" id="tipoServico" name="tipoServico"  value='<%= servico.tipoServico%>'><br> <br>
                        <label for="data">Data do serviço:</label> <br>
                        <input type="date" id="data" name="data" value='<%= servico.data %>' ><br><br>
                        <label for="horaServico">Hora do serviço:</label> <br>
                        <input type="text" id="horaServico" name="horaServico" value='<%= servico.hora%>' ><br> <br>
                        <label for="valor">Valor cobrado:</label> <br>
                        <input type="text" id="valor" name="valor" value='<%= servico.valor %>' ><br><br>'
                    </div>

                    <div class="teste">
                        <label for="nomeCliente">Nome do cliente:</label> <br>
                        <input type="text" id="nomeCliente" name="nomeCliente" value='<%= servico.nomePessoa %>'><br> <br>
                        <label for="nomePet">Nome do Pet:</label> <br>
                        <input type="text" id="nomePet" name="nomePet" value='<%= servico.nomePet %>'><br><br>
                        <label for="nomeFunc">NomeFunc:</label> <br>
                        <input type="text" id="nomeFunc" name="nomeFunc" value='<%= servico.nomeFunc %>' ><br> <br>
                    </div>
                </pre>

                <div id="botao">
                    <input class="botao" type="submit" value="  Alterar  ">
                    <button class="botao" type="submit" formaction="controle_cliente.html">Cancelar</button>
                </div>
            </form>
        </main>
    </body>
</html>